streamlit==1.35.0
tensorflow==2.8.0
keras==3.3.4
Pillow
numpy==1.26.4
scikit-learn==1.0.2
scipy==1.8.0
streamlit_option_menu
classify
text-to-speech
streamlit-webrtc==0.47.7
opencv-python-headless==4.10.0.82
gTTS
joblib==1.1.0
h5py==4.0.0
