gTTS==2.5.1
keras==2.12.0
numpy==1.23.5
opencv_python==4.9.0.80
opencv_python_headless==4.9.0.80
Pillow==10.3.0
streamlit==1.32.0
streamlit_option_menu==0.3.12
streamlit_webrtc==0.47.7
tensorflow==2.12.0
